/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 13px;
}

b.eg-highlight {
  font-weigth: bold;
}

.course-header {
  font-size: 2.5em;
  border-bottom-style: solid;
  padding: 5px;
}

a:link {
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.course-sidebar {
  float: left;
  padding: 0 20px 20px 20px;
  width: 20%;
}

.course-sidebar ul {
  margin: 0;
  padding: 0;
}

.course-sidebar li.topic {
  list-style-type: none;
  font-size: 1.5em;
  padding-top: 20px;
}

.course-sidebar li.sub-topic {
  font-size: 1em;
}

#course-nav-chap-topic {
  list-style-type: square;
  padding-left: 20px;
}

.chap-content {
  float: right;
  width: 80%;
  padding: 10px;
  border-left-style: solid;
}

.course-content-topic {
  font-size: 3em;
  text-align: center;
}

.chapter-entry {
  padding: 10px 0 10px 0;
}

chapter {
  font-size: 1.5em;
  font-weight: bold;
  word-wrap: break-word;
  overflow: hidden;
  display: block;
}









